body,html
	{
	background-image:url("./images/paper.jpg");
	background-repeat:repeat;
	color:#000000;
	}

a,a:hover,a:active,a:visited
	{
	color:c28100;
	font-weight:bold;
	}

/* Balise utilisée pour le titre de la page */
h1
	{
	font-size:30px;
	color:white;
	font-weight:bold;
	text-decoration:underline;
	}
	
h2
	{
	font-size:16px;
	font-weight:bold;
	color: #a16400;
	text-decoration:underline;
	}

p,ul,li
	{
	font-size:13px;
	}	
	
img
	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}	
	
.navbar-custom, .nav-link, .nav-item
	{
    font-size:13px;
	font-weight:bold;
	}

.navbar-custom:hover, .nav-link:hover, .nav-item:hover
	{
    font-size:13px;
	font-weight:bold;
	}

.navbar-custom:visited, .nav-link:visited, .nav-item:visited
	{
    font-size:13px;
	font-weight:bold;
	}
	
.headeraccueil
	{
	background-image:url("./images/header_accueil.jpg");
	width:100%;
	background-position:center;
	background-size:cover;
	}	

.element
	{
	width:100%;
	height:auto;
	}

.element_min
	{
	width:50%;
	height:auto;
	}	
	
iframe 
	{
	display:block;
    margin-left: auto;   
	margin-right: auto;
	} 
	
.video-container 
	{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	}

.video-container iframe,  
.video-container object,  
.video-container embed 
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
